.center {
    margin: 0 auto;
}

#logo {
    display: block;
    margin-top:12.5%;
}
#textbox {
    display:block;
    border: 1px solid gray;
    margin-top: 20px;
    width: 570px;
    height: 45px;
    border-radius: 55px;
    opacity: 0.7;
}
.container {
    width: 570px;
    height: 45px;
    z-index:0;
}
#keyboard {
    float:right;
    position:relative;
    right:15px;
    top:35px;
    z-index: 1;
    border-radius:3px;
}
input[type=text]:hover, input[type=text]:focus {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(138,138,138,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(138,138,138,0.75);
    box-shadow: 0px 0px 5px 3px rgba(138,138,138,0.75);
}
button {
    display:inline-block;
}